/* --------------------------------------------------------------------------
   Mobile Devices: 320px - 480px
   -------------------------------------------------------------------------- */
   
   @media (max-width: 767px) {
   @media (min-width: 320px) and (max-width: 414px){
       #labe{
         width: 80vw; 
       }
     }
   }